{% extends "layouts/base.html" %}

{% block title %}Lab 8 Task 1{% endblock title %}

{% block content %}
<h1>Books with Price Less Than or Equal to 80</h1>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <strong>Title:</strong> {{ book.title }} <br>
                <strong>Author:</strong> {{ book.author }} <br>
                <strong>Price:</strong> {{ book.price }} <br>
                <strong>Edition:</strong> {{ book.edition }}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>No books found.</p>
{% endif %}

{% endblock content %}