<!DOCTYPE html>
<html>
<head>
    <title>Products List</title>
</head>
<body>

<h1>Products List</h1>

<a href="{% url 'add_product' %}">Add Product</a>

<br><br>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            {% if product.image %}
                <img src="{{ product.image.url }}" width="120">
            {% else %}
                No image
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>