{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Links</title>
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

  <a class="link-box box1" id="linkNewTab" href="https://www.qu.edu.sa" target="_blank">
    Go to QU website (open a new tab)
  </a>

  <a class="link-box box2" id="linkSameTab1" href="https://www.qu.edu.sa">
    Go to QU website (open in the same page/tab)
  </a>

  <a class="link-box box3" id="linkSameTab2" href="https://www.qu.edu.sa">
    Go to QU website (open in the same page/tab)
  </a>

</body>
</html>